body{
    color: #E2D3CD;
    background: #809671; 
margin: 0px;
font-family: "Oswald", sans-serif;
margin-bottom: 100px;

}
header{
    border-bottom: solid 2px rgb(20, 19, 19); 
    padding: 20px;
    font-size: 30px;
    color: rgb(235, 226, 226)

}
.chamada{
   background-color: #725C3A;
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;

}
.chamada-texto {
margin-right: 5%;

}
h1{
font-size: 60px;
font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
p{ 
font-size: 20px;
}
img{ 
height: 200px;
}

.clipes-virais{
display: flex;
overflow-x: auto;
gap: 10px;
}

.clipesV{
padding-left: 20px;
padding-right: 20px;
}

.clipes-virais img{
opacity: 0.5;
height: 200px;
}

.clipes-virais img:hover{
opacity: 1.0;
border: 1px solid black;
}

.cçipesV h2{
color: rgb(235, 226, 226);


}